@font-face {
    font-family: 'Ruddy';
    src: url(./Font/Ruddy\ Face.otf) format('opentype');
}

@font-face {
    font-family: 'Kingdom';
    src: url(./Font/Kingdom\ Heaven.ttf)format('truetype');
}

.main-container {
    margin-top: -41%;
    width: 75%;
    height: 41vw;
    margin-left: 320px;
    margin-right: 500px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    background-image: linear-gradient(
        to top left,
        darkblue,
        rgb(14, 14, 82),
        rgb(47, 47, 54)
    );
    padding: 12px;
}

.header-navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right {
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}

.header-login{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    border-radius: 500px;
    border: 1px solid transparent;   
    cursor: pointer;
}

.search input{
    background: transparent;
    border: none;
    padding: auto 100px auto 12px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    border-radius: 40px;
    margin-left: 10px;
}
.search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.search input{
    width: 100%;
    padding: auto 100px auto 12px;
    background-image: linear-gradient(
        to right,
        darkblue,
        blue,
        white
);
    font-family: 'Ruddy';
    font-size: 22px;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header-login .subscribe {
    width: 100px;
    height: 48px;
    background-color: transparent;
    color: white;
    font-family: 'Kingdom';
    font-size: 22px;
}

.header-login .login{
    width: 100px;
    height: 48px;
    border-radius: 40px;
    font-family: 'Kingdom';
    font-size: 22px;
}

.header-login .login:hover{
    transform: scale(1.1);
}

.playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-image: linear-gradient(
        to top left,
        darkblue,
        rgb(14, 14, 82),
        rgb(47, 47, 54)
    );
}

.playlist {
    margin: 24px;
}

.playlist .greetings{
    font-family: 'Kingdom';
    color: white;
    font-size: 40px;
    margin-bottom: 48px;
    font-weight: normal;
}

.playlist .session {
    font-family: 'Kingdom';
    color: white;
    font-size: 25px;
    font-weight: normal;
}

.offer-scroll-container {
    max-height: 40.5vh;
    margin: 24px;
    overflow-y: auto;
}


.offer-scroll-container::-webkit-scrollbar{
    width: 1px;
}

.offer-scroll-container::-webkit-scrollbar:hover{
    background: none;
}

.offer-list-item{
    display: grid;
    grid-template-columns: repeat(4,0.5fr);
    margin-bottom: 16px;


    grid-gap: 32px;
    margin: 0 auto;
}

.card{
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.card span{
    font-family: 'Kingdom';
    padding: 16px;
    position: absolute;
    color:white;
    font-size: 23px;
}
.card span:hover{
    color: black;
    transform: scale(1.2);
}
.card1{
    background-image: linear-gradient(
        to right,
        red,
        green,
        white
    );
}

.card2{
    background-image: linear-gradient(
        to right,
        purple,
        violet,
        white
    );
}

.card3{
    background-image: linear-gradient(
        to right,
        darkred,
        red,
        white
    );
}

.card4{
    background-image: linear-gradient(
        to right,
        steelblue,
        blue,
        white
    );
}

.card5{
    background-image: linear-gradient(
        to right,
        rgb(128,0,0),
        rgb(178,34,34),
        white
    );
}

.card6{
    background-image: linear-gradient(
        to right,
        rgb(176,244,230),
        rgb(175,238,238),
        black
    );
}

.card7{
    background-image: linear-gradient(
        to right,
        rgb(0,139,139),
        rgb(0,128,128),
        white
    );
}

.card8{
    background-image: linear-gradient(
        to right,
        rgb(0,100,0),
        rgb(34,139,34),
        white
    );
}

.card9{
    background-image: linear-gradient(
        to right,
        rgb(210,105,30),
        rgb(255,222,179),
        white
    );
}

.card10{
    background-image: linear-gradient(
        to right,
        orangered,
        darkorange,
        white
    );
}

.card11{
    background-image: linear-gradient(
        to right,
        rgb(128,0,0),
        rgb(220,20,60),
        white
    );
}

.card12{
    background-image: linear-gradient(
        to right,
        rgb(0,191,255),
        rgb(127,255,212),
        white
    );
}

.card13{
    background-image: linear-gradient(
        to right,
        rgb(95,158,160),
        rgb(128,128,0),
        white
    );
}

.card14{
    background-image: linear-gradient(
        to right,
        orange,
        yellow,
        white
    );
}

.card15{
    background-image: linear-gradient(
        to right,
        rgb(65,105,225),
        rgb(0,255,255),
        white
    );
}

.offer-list-item img{
    position: absolute;
    right: 6px;
    bottom: 0;
    height: auto;
    width: 70%;
    transform: rotate(25deg) translate(18%, -2%);
}

