@import url(Reset.css);
@import url(StyleSheet.css);

@font-face {
    font-family: 'Distant_Stroke';
    src: url(../Fonte/Distant_Stroke.otf) format('OpenType');
}

@font-face {
    font-family: 'Nathalia';
    src: url(../Fonte/Nathalia.ttf) format('TrueType');
}

@font-face {
    font-family: 'Infinite_Stroke';
    src: url(../Fonte/Infinite_Stroke.otf) format('OpenType');
}

@font-face {
    font-family: 'The_California';
    src: url(..//Fonte/The\ California.ttf) format('TrueType');
}

:root{
    --font-main: 'Infinite_Stroke';
    --page-background: linear-gradient(
        to top left,
        rgb(230, 119, 119),
        rgb(192, 143, 192), 
        rgba(43, 28, 28, 0)
    );
    --fontPeter: 'The_California';
    --fontMiles: 'Distant_Stroke';
    --fontGwen: 'Nathalia'
}